@{
ViewData["Title"] = "RePetShop";
}



<div class="text-center">
    <div id="sec-banner">
        <img src="~/content/banner.png" alt="Banner de Boas-Vindas" id="banner" />
    </div>
    <h1 class="display-4 mb-3">Produtos mais vendidos</h1>
    <div id="mais-vendidos">
        <div class="container text-center">
            <div class="row align-items-start">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/content/fardo-golden.jfif" class="card-img-top"
                            alt="Fardo de ração Golden para cachorros">
                        <div class="card-body">
                            <h5 class="card-title">Fardo de ração</h5>
                            <p class="card-text">Ração da marca Golden para cachorros</p>
                            <a href="#" class="btn btn-primary">Ir para o produto</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/content/fardo-golden.jfif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Fardo de ração</h5>
                            <p class="card-text">Ração da marca Golden para cachorro</p>
                            <a href="#" class="btn btn-primary">Ir para o produto</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/content/fardo-golden.jfif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Fardo de ração</h5>
                            <p class="card-text">Ração da marca Golden para cachorro</p>
                            <a href="#" class="btn btn-primary">Ir para o produto</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/content/fardo-golden.jfif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Fardo de ração</h5>
                            <p class="card-text">Ração da marca Golden para cachorro</p>
                            <a href="#" class="btn btn-primary">Ir para o produto</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sec-opcoes">
        <div class="container text-center">
            <h1 class="display-4 mb-3" style="color:white;">Produtos por animais</h1>
            <div class="row align-items-start">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/content/op-cachorro.png" class="card-img-top" alt="Seção de cachorro">
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/content/op-gato.png" class="card-img-top" alt="Seção de cachorro">
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/content/op-macaco.png" class="card-img-top" alt="Seção de cachorro">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sec-about">
        <img src="~/content/about_us.png" alt="Sobre nós" id="about-us" />
    </div>

</div>